.container{
    width: 1200px;
    height: 600px;
    border: 2px solid silver;
    background: yellow;
    padding: 15px;
}
.Block1{
    display: flex;
    justify-content: space-evenly;
    background: yellow;
}
.icon{
    width: 250px;
    height: 350px;
    background: deepskyblue;

    border-radius: 45px;
    border: 2px solid #db1212;
    padding: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.fa-solid{
    font-size: 70px;
}
.fa-brands{
    font-size: 70px;
}
.round{
    border-radius: 30px;
    width: 100px;
    height: 100px;
}
p {
    font-family:Menlo;
    font-size:small;
    text-align: justify;
}
h1{
    display: flex;
    justify-content: center;
    font-size: 45px;
    font-family: Menlo;
}
h3{
   display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: Menlo;
    font-weight: lighter;
}