.father{
    width: 700px;
    height: 860px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.up {
    width: 700px;
    height: 375px;
    background: silver;
    border-radius: 30px;
    border: 5px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.down{
    width: 700px;
    height: 500px;
    background: silver;
    border-radius: 30px;
    border: 5px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 680px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.high{
    width: 660px;
    height: 90px;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttom{
    width: 660px;
    height: 200px;
    display: flex;
    justify-content: space-between;
}
.b, .c {
    width: 520px;
    height: 200px;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c{
    width: 130px;

}
.container2{
    width: 660px;
    height: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.top{
    width: 660px;
    height: 80px;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttom2{
    width: 660px;
    height: 350px;
    display: flex;
    justify-content: space-between;
}
.up2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.b2, .f2, .c2, .d2, .e2 {
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cde{
    display: flex;
    justify-content: space-between;
}
.c2, .d2, .e2{
    width: 165px;
    height: 165px;
}
.b2{
    width: 520px;
    height: 170px;

}
.f2{
    width: 130px;
    height: 350px;
}

@media screen and (max-width: 1000px) {
    .up, .down, .container {
        display: flex;
        border-radius: 20px;
        border: 5px solid black;
        flex-direction: column;
        justify-content: space-between;
        width: 220px;
        height: 350px;
    }
    .high{
        width: 200px;
        height: 120px;
        margin: 10px;
        border-radius: 20px;
    }
    .buttom{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 200px;
        height: 200px;
        margin-bottom: 10px;
    }
    .b, .c {
        width: 200px;
        height: 140px;
        border-radius: 20px;
    }
    .c{
         height: 50px;
     }
}


@media screen and (max-width: 1000px) {
    .top, .buttom2, .container2, .f2 {
        display: flex;
        border-radius: 20px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .container2{
        width: 220px;
        height: 350px;
    }
    .top {
        width: 200px;
        height: 90px;
        margin: 10px;

    }
    .buttom2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 200px;
        height: 240px;
        margin-bottom: 10px;
    }
    .up2{
        width: 200px;
        height: 140px;
        display: flex;
        justify-content: space-between;
    }
    .b2{
        width: 200px;
        height: 80px;
        border-radius: 12px;
        margin-bottom: 10px;
    }
    .c2, .d2, .e2 {
        width: 60px;
        height: 60px;
        border-radius: 20px;
        margin-bottom: 10px;
    }
    .f2 {
        width: 200px;
        height: 70px;
    }
}